@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --green-400: hsl(172, 67%, 45%);
    
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);

    --error-color: #D37258;
    --button-active-color: #9FE8DF;

    --input-size: 24px;

    --font-space-mono: "Space Mono", monospace;
    --space-mono-bold: 700;

    font-family: var(--font-space-mono);
    font-weight: var(--space-mono-bold);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--grey-200);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    width: 95%;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    border-top: 2px solid var(--green-900);
}
header {
    margin: 2.5rem;
}
article {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--white);
}

.input-form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--grey-500);

    .label + * {
        margin: 0.5rem 0 2rem;

        &:last-child {
            margin: 0.5rem 0;
        }
    }

    .label {
        display: flex;
        justify-content: space-between;

        .error {
            display: none;
            color: var(--error-color);
        }

        &:has(.error.show) {
            .error {
                display: block;
            }
            & + * {
                outline: 2px solid var(--error-color);
            }
        }
    }

    .field {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--input-size);
        border-radius: 5px;
        background: var(--grey-50);
        outline: 1px solid var(--grey-200);

        .img {
            flex: 0 0;
        }
        .field-input {
            flex: 1;
            width: 100%;
            font-size: var(--input-size);
            text-align: end;
            border: none;
            background: none;
            outline: none;
            color: var(--green-900);
            font-family: var(--font-space-mono);
            font-weight: var(--space-mono-bold);

            &::placeholder {
                color: var(--grey-400);
            }
        }

        &:has(.field-input:focus-visible) {
            outline: 2px solid var(--green-400);
        }
    }

    

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .radio {
        &.field {
            position: relative;
            place-content: center;
            overflow: hidden;

            .label {
                z-index: 1;
                color: var(--white);
            }

            &:has(.field-input:checked, .field-input:hover, .field-input:focus) .label {
                color: var(--green-900);
            }
        }

        &.field-input {
            appearance: none;
            height: 100%;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            position: absolute;
            display: block;
            border-radius: 0;
            background: var(--green-900);

            &:hover:not(:focus-visible, :checked), &:focus-visible {
                background: var(--button-active-color);
            }

            &:checked {
                background: var(--green-400);
            }
        }
    }

    .tip-custom-div {
        position: relative;

        #tip-custom-text {
            appearance: none;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0.5rem;
            position: absolute;
            z-index: 1;
        }
        .field-input {
            position: absolute;
            z-index: 2;
            background: none;

            &:checked {
                display: none;
            }
        }
    }
}

.result-form {
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 1rem;
    background: var(--green-900);

    .field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
    }
    .label {
        min-width: fit-content;
        width: 100%;
        flex: 1;
        flex-direction: column;

        .small {
            display: block;
            font-size: calc(1rem - 2px);
            color: var(--grey-400);
        }
    }

    .field-input {
        appearance: none;
        display: block;
        box-sizing: border-box;
        width: 100%;
        flex: 1 0;
        margin: 0;
        text-align: end;
        font-size: calc(1.5 * var(--input-size));
        font-family: var(--font-space-mono);
        font-weight: var(--space-mono-bold);
        border: none;
        background: none;
        color: var(--green-400);

        resize: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        &[readonly]:focus-visible {
            outline: 5px solid var(--green-400);
            outline-offset: 5px;
        }
    }

    .reset {
        padding: 1rem;
        font-size: var(--input-size);
        font-family: var(--space-mono-bold);
        font-weight: var(--space-mono-bold);
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
        background: var(--green-400);
        color: var(--green-900);

        &:focus {
            background: var(--button-active-color);
        }

        &:focus-visible {
            outline: 5px solid var(--green-400);
            outline-offset: 5px;
        }

        &:active {
            background: black;
        }

        &[disabled] {
            opacity: 25%;
        }
    }
}

@media(min-width: 64rem) {
    article {
        flex-direction: row;
    }

    .input-form {
        margin: 3rem;

        .grid {
            grid-template-columns: repeat(3, 1fr);
        }

        .label + * {
            margin-bottom: 3rem;
        }
    }

    .result-form {
        width: 30rem;
        margin: 2.5rem;
        padding: 2.5rem;

        .results {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        .field-input {
            font-size: calc(2.25 * var(--input-size));
        }
    }
}